
@import url('https://fonts.googleapis.com/css2?family=Kedebideri:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



@media (max-width: 768px) {
  .container {
    width: 50%;
    padding: 10px;

  }
  .sub-container {
    padding: 10px;
  }
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, "Poppins", sans-serif;
}

body{
  background-color:  #141e30;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.container{
  width: 500px;
  background: linear-gradient(90deg, #0e295d, rgb(8, 114, 92));
  padding: 20px;
  border: 1px solid #fff;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  box-shadow:rgb(8, 114, 92) 0px 0px 10px 0px;
  word-wrap: break-word;
}
.sub-container{
  background-color: transparent;
  padding: 20px;
  -o-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  
}
h1{
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
.todo-image{
  width: 50px;
  height: 50px;
  
  vertical-align: middle;
}

input{
  font-size: 16px;
  width: 65%;
  padding: 10px;
  -o-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  outline: none;
  border: none;
}
.add-btn{
  background-color: rgb(133, 9, 96);
  font-size: 16px;
  padding: 10px;
  -o-border-radius: 15px;
  margin-left: -8px;
  outline: none;
  border: none;
  cursor: pointer;
  -o-transition: background-color 0.3s ease, color 0.3s ease;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  -moz-transition: background-color 0.3s ease, color 0.3s ease;
  -ms-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
}
.add-btn:hover{
  background-color: #2e3a43;
  color: #1b0a71;
}

.task-list{
  margin-top: 20px;
  padding: 10px;
  -o-border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  border-radius: 15px;
  box-shadow: rgb(8, 114, 92) 0px 0px 10px 0px;

}
ul{
  
  color: black;
  line-height: 2;
}
li{
  margin-bottom: 10px;
  font-size: 18px;
  display: block; 
  cursor: pointer;
  alignment-baseline: middle;
}


.checked-png{
width: 16px;
cursor: pointer;
margin-right: 5px;

}
.remove-png{
  width: 16px;
  cursor: pointer;
  margin-right: 5px;

}
.ink-pen{
  width: 20px;
  cursor: pointer;
  margin-left: 10px;
  position: absolute;
  margin-top: 5px;

}
.delete{
  width: 20px;
  cursor: pointer;
  margin-left: 35px;
  position: absolute;
  margin-right: 10px;
  margin-top: 5px;
}