
@import url('https://fonts.googleapis.com/css2?family=Kedebideri:wght@400;500;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Arial, "Poppins", sans-serif;
}

body{
  background-color:  #141e30;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.container{
  width: 500px;
  background: linear-gradient(90deg, #0e295d, rgb(8, 114, 92));
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  
}
h1{
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}
.todo-image{
  width: 50px;
  height: 50px;
  display: inline-block;
  vertical-align: middle;
}

input{
  font-size: 16px;
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  outline: none;
  border: none;
}
.add-btn{
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  margin-left: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  -moz-transition: background-color 0.3s ease, color 0.3s ease;
  -ms-transition: background-color 0.3s ease, color 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease;
}
.add-btn:hover{
  background-color: #2e3a43;
  color: #1b0a71;
}